<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
{% load i18n %}
{% load localeurl_tags %}
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="pl-PL" lang="pl-PL">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>{% block title %}Satchless Demo Store{% endblock %}</title>
    <meta name="description" content="{% block meta-description %}{% trans "For Python perfectionists with real deadlines" %}{% endblock %}" />
    <link rel="stylesheet/less" href="{{ STATIC_URL }}less/bootstrap.less">
    <script src="{{ STATIC_URL }}js/less-1.1.3.min.js"></script>
</head>

<body id="{% block body-id %}{% endblock %}" class="{% block body-class %}{% endblock %}">

<div class="topbar">
    <div class="topbar-inner">
        <div class="container">
            <h3><a href="{% url home-page %}">{% trans 'Demo Store' %}</a></h3>
            <ul clas="nav">
                <li>
                    <a href="{% url sale %}">Sale</a>
                </li>
                <li>
                    <a href="{# url sale #}">About us</a>
                </li>
                <li>
                    <a href="{# url sale #}">Contact</a>
                </li>
            </ul>
            <div class="pull-right">
                <ul class="nav">
                {% for lang in LANGUAGES %}
                    <li class="{% if lang.0 == LANGUAGE_CODE %}active{% endif %}"><a href="{{ request.path|chlocale:lang.0 }}">{{ lang.1 }}</a></li>
                {% endfor %}
                </ul>
                <ul class="nav">
                    <li><a href="{% url wishlist:details %}">{% trans 'Wishlist' %}: {{ wishlist_size|floatformat:0 }}</a></li>
                    <li><a href="{% url cart:details %}">{% trans 'Cart' %}: {{ cart_size|floatformat:0 }}</a></li>
                </ul>
                <form method="get" action="{% url satchless-search-haystack-predictive %}">
                    <input class="medium" type="text" name="q" placeholder="{% trans 'Search…' %}" value="{{ request.GET.keywords }}" />
                </form>
            </div>
        </div>
    </div>
</div>
<div class="container main">
    {% if messages %}
    <div class="row">
        <div class="span16">
            <div id="messages" class="row">
            {% for m in messages %}
                <div class="alert-message {{ m.tags }}">
                    <a class="close" href="#">×</a>
                    <p>{{ m|safe }}</p>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}
    <div class="row">
{% block main-content %}
        <div class="span4">
{% block sidebar %}
            <h3>{% trans 'Categories' %}</h3>
            <ul>
    {% for category in root_categories %}
                <li>
                    <a href="{{ category.get_absolute_url }}">{{ category }}</a>
                    <ul class="submenu">
        {% for child in category.get_children %}
                        <li><a href="{{ child.get_absolute_url }}">{{ child }}</a></li>
        {% endfor %}
                    </ul>
                </li>
    {% endfor %}
            </ul>
{% endblock %}
        </div>
        <div class="span12">
            {% block breadcrumbs %}
            {% endblock %}
            {% block content %}
            {% endblock %}
        </div>
{% endblock %}
    </div>

    <div class="row">
        <div class="span16">
            <hr />
            <p>Copyright © 2009–2011 <a href="http://mirumee.com/">Mirumee Software</a>. If you need a great, fast &amp; modern e-commerce solution — <a href="http://mirumee.com/contact">talk to us</a>.</p>
        </div>
    </div>

{% if debug %}
    <div class="row">
        <div class="span16">
            <hr />
            <h3>Queries</h3>
            <p>
                {{ sql_queries|length }} Quer{{ sql_queries|pluralize:"y,ies" }}
                {% if sql_queries|length != 0 %}
                (<span style="cursor: pointer;" onclick="var s=document.getElementById('debugQueryTable').style;s.display=s.display=='none'?'':'none';this.innerHTML=this.innerHTML=='Show'?'Hide':'Show';">Show</span>)
                {% endif %}
            </p>
            <table id="debugQueryTable" style="display: none;">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">SQL</th>
                        <th scope="col">Time</th>
                    </tr>
                </thead>
                <tbody>
                    {% for query in sql_queries %}<tr class="{% cycle odd,even %}">
                        <td>{{ forloop.counter }}</td>
                        <td>{{ query.sql|escape }}</td>
                        <td>{{ query.time }}</td>
                    </tr>{% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endif %}
</div>
</body>
</html>
