{% extends 'satchless/cart/base.html' %}
{% load cart_prices %}
{% load i18n %}
{% load prices %}
{% load product_prices %}
{% load promote %}

{% block title %}{% trans "Shopping Bag" %} || {{ block.super }}{% endblock %}
{% block body-class %}{{ block.super }} cart{% endblock %}

{% block content %}
{% if cart_item_forms %}
    <table class="cart-contents">
        <thead>
            <tr>
                <th class="name">{% trans 'Product' %}</th>
                <th class="price">{% trans 'Unit Price' %}</th>
                <th class="qty">{% trans 'Quantity' %}</th>
                <th class="total">{% trans 'Total' %}</th>
            </tr>
        </thead>
        <tfoot>
            <tr class="checkout">
                <th colspan="3">{% trans 'Total' %}:</th>
                <td>
                    <span class="fullprice">{{ cart.total|gross|floatformat:2 }}</span>
                    <span class="currency">{{ cart.currency }}</span><br />
                </td>
            </tr>
        </tfoot>
        <tbody>
    {% for form in cart_item_forms %}
        {% with form.instance as cart_item %}
        {% promote cart_item.variant as variant %}
        {% cartitem_unit_price cart_item as unit_price %}
        {% cartitem_unit_price cart_item discount=0 as undiscounted_unit_price %}
        {% cartitem_price cart_item as item_price %}
        {% cartitem_price cart_item discount=0 as undiscounted_item_price %}
        {% with cart.currency as currency %}
        {% include "satchless/cart/snippets/row.html" %}
        {% endwith %}
        {% endwith %}
    {% endfor %}
        </tbody>
    </table>
    <form action="{% url checkout:prepare-order %}" method="post">
        {% csrf_token %}
        <button class="btn success" type="submit"><span>{% trans "Proceed to checkout" %}</span></button>
    </form>
{% else %}
    <p>
        {% trans "Your shopping cart is empty." %}
    </p>
{% endif %}
{% endblock %}
