{% load cart_variants %}
<h2>Cart</h2>
<div class="page-header">
    <ul>
    {% for item in items %}
        {% with price=item.variant.get_price %}
        <li style="margin-bottom: 5px;">
            {{ item }}
            <strong>
            ({{ price.gross }}{% if price.currency %} {{ price.currency }}{%  endif %})
            </strong>
            <form method="post" action="" style="display:inline">
                {% csrf_token %}
                <input type="hidden" name="item_pk" value="{{ item.variant.id }}" />
                <button class="btn btn-mini btn-danger"><i class="icon-remove icon-white"></i></button>
            </form>
        </li>
        {% endwith %}
    {% endfor %}
    </ul>
</div>
    <a href="{% cart_target %}" class="btn btn-success"><i class="icon-shopping-cart icon-white"></i> Checkout</a>
    <a href="#" class="btn btn-warning"><i class="icon-trash icon-white"></i> Clear </a>