{% extends 'index.html' %}
{% load i18n %}

{% block content %}
    <h1>{{ product.name }}</h1>
    {% if product.description %}
    <div class="productDescription">
        {{ product.description }}
    </div>
    {% endif %}
    <h2>Variants</h2>
    <ul>
    {% for variant in variants %}
        {%  with price=variant.get_price %}
        <li>
            {{ variant }}
            ({{ price.gross }}{% if price.currency %} {{ price.currency }}{%  endif %})
        </li>
        {%  endwith %}
    {% endfor %}
    </ul>
{% endblock %}
