{% extends 'satchless/checkout/base.html' %}
{% load i18n %}

{% block content %}
{% block breadcrumbs %}
    <ul class="pills">
        <li>
            <a>1. {% trans "Delivery" %}</a>
        </li>
        <li>
            <a>2. {% trans "Payment" %}</a>
        </li>
        <li class="active">
            <a>3. {% trans "Confirmation" %}</a>
        </li>
        <li>
            <a>4. {% trans "Great success!" %}</a>
        </li>
    </ul>
{% endblock %}

    <div class="page-header">
        <h2>{% trans 'Order confirmation' %}</h2>
    </div>
    {% include "satchless/checkout/snippets/order_preview.html" %}

    <form action="{{ formdata.action }}" method="{{ formdata.method }}">
        {% csrf_token %}
        {% with formdata.form as form %}
            {% include 'snippets/form.html' %}
        {% endwith %}
        <button class="btn success" type="submit">{% trans "Confirm" %}</button>
    </form>

{% endblock %}
