{% extends 'satchless/checkout/base.html' %}

{% load i18n %}
{% load prices %}
{% load product_prices %}
{% load products_tags %}
{% load satchless_image %}

{% block body-class %}{{ block.super }} payment-choice{% endblock %}

{% block content %}
{% block breadcrumbs %}
    <ul class="pills">
        <li>
            <a>1. {% trans "Delivery" %}</a>
        </li>
        <li class="active">
            <a>2. {% trans "Payment" %}</a>
        </li>
        <li>
            <a>3. {% trans "Confirmation" %}</a>
        </li>
        <li>
            <a>4. {% trans "Great success!" %}</a>
        </li>
    </ul>
{% endblock %}

    <form action="" method="post">
        {% csrf_token %}
        <div class="page-header">
            <h2>{% trans "Payment info" %}</h2>
        </div>
        {% with payment_form as form %}
            {% include 'snippets/form.html' %}
        {% endwith %}
        <button class="btn success" type="submit">{% trans "Proceed" %}</button>
    </form>
{% endblock %}
