{% extends 'satchless/checkout/base.html' %}
{% load i18n %}

{% block content %}
{% block breadcrumbs %}
    <ul class="pills">
        <li>
            <a>1. {% trans "Delivery" %}</a>
        </li>
        <li>
            <a>2. {% trans "Payment" %}</a>
        </li>
        <li>
            <a>3. {% trans "Confirmation" %}</a>
        </li>
        <li class="active">
            <a>4. {% trans "Great success!" %}</a>
        </li>
    </ul>
{% endblock %}

    <div class="page-header">
        <h2>{% blocktrans with name=order.billing_first_name %}<strong>Thank you {{ name }},</strong> your order has been placed.{% endblocktrans %}</h2>
    </div>

    <p><strong>{% trans 'Delivery and Tracking' %}:</strong> {% blocktrans %}Typical orders will leave our warehouse in 2–3 business days. Upon shipment you will receive your tracking number via email.{% endblocktrans %}</p>
    <p><strong>{% trans 'Has my credit card been charged?' %}</strong> {% blocktrans %}Your credit card has been pre-approved, but will not be charged until your order has left our warehouse.{% endblocktrans %}</p>

    <hr />

    {% include "satchless/checkout/snippets/order_preview.html" %}
{% endblock %}
